<h2>Your profile</h2>
<%= render @profile %>

<div>
  <%= link_to "Edit this profile", edit_profile_path(@profile), class:"btn" %>
  <%= button_to "Delete this profile", @profile, class: "btn", method: :delete %>
</div>
<div>
  <% if current_user.try(:admin?) %> 
    <%= link_to "Back to profiles", profiles_path, class:"btn btn-admin" %>
  <%end%>
</div>
