<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <p><%= product.productName %> * <%= orderable.quantity %> = $<%= (product.price/100) * orderable.quantity %></p>
<% end %>
<p>Your total is $<%= @cart.total/100 %> </p>