
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="/assets/home.jpg" class="img-fluid photo" alt="Home page image" />
    </div>
    <div class="col-md-7">
        <h1>The Neat Need</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar dictum mauris, mattis volutpat metus tincidunt ac. Nullam feugiat nulla fermentum, bibendum mi et, vestibulum libero. Nam sollicitudin justo faucibus ipsum venenatis fermentum. Donec varius quam a metus viverra hendrerit. Curabitur massa elit, ullamcorper tempus rutrum eget, mattis varius tellus. Sed eget mauris eu dui gravida efficitur.</p>
        
        <h2>Start with</h2>
        <button class="btn actionbtn">Click</button>
        <button class="btn actionbtn">Click</button>
        <button class="btn actionbtn">Click</button>
        
    </div>
  </div>
</div>