
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="/assets/homepage.png" class="img-fluid" alt="Home page image" />
    </div>
    <div class="col-md-7">
        <br>
        <h1>The Neat Need</h1>
        <p>This is your focused shopping space. Choose simple quality clothing and enjoy.</p> 
        <br>
        <h2>Best to start with</h2>
        <a class="btn actionbtn" href="/faq">FAQ</a>
        <a class="btn actionbtn" href="/shop">Shop</a>
        
    </div>
  </div>
</div>