<div class="container">

<h1>
Privacy and Cookie Policy
</h1>

<p>
At Neat Need, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by The Neat Need and how it is used.
</p>

<p>
If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern The Neat Need relationship with you in relation to this website.
</p>

<p>The website address is: neatneed.ie and the term 'neatneed.ie' or 'The Neat Need' or 'us' or 'we' or 'administrator' refers to the owner of the website – Paulina Stachera-Diaz. In case of any doubts regarding this document you can contact the owner of the website using following e-mail address: contact@neatneed.ie
</p>

<p>The term 'you' or 'user' refers to the user or viewer of our website.</p>
<p>To help you navigate I created this index:</p>
<ul>Terms & Conditions</ul>
<ul>Disclaimer</ul>
<ul>Copyright Notice</ul>
<ul>Privacy Policy</ul>
<ul>Cookie Policy</ul>

<h2>1. Terms & Conditions</h2>
<p>The use of this website is subject to the following terms of use:</p>
<p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.
Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
<p>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
</p>
<p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
</p>
<p>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.
Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
</p>
<p>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
</p>
<p>You may not use the content of this website on another website or document without The Neat Need's prior written consent.</p>

<h2>2. Disclaimer</h2>
<p>The information contained in this website is for general information purposes only. The information is provided by The Neat Need and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
<p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
<p>Through this website you are able to link to other websites which are not under the control of The Neat Need. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
<p>Every effort is made to keep the website up and running smoothly. However, The Neat Need takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

<h2>3. Copyright Notice</h2>
<p>This website and its content is copyright of The Neat Need – © The Neat Need 2020. All rights reserved.</p>
<p>Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</p>
<li>you may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
<li>you may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material</li>
<li>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</li>

<h2>4. Privacy policy</h2>
<p>
In this section you will read what personal data we collect and why we collect it.
</p>

<h3>Log Files</h3>
Like many other Web sites, The Neat Need makes use of log files. The information inside the log files includes internet protocol (IP) addresses, type of browser, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.

<h3>Comments</h3>
When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor's IP address and browser user agent string to help spam detection.

An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.

<h3>Media</h3>
If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.

<h3>Contact forms</h3>
Allow you to send a message to the owner of the website and contact us electronically. Personal data in the form of name, surname, e-mail address and data provided in the message are processed by the owner of the website in accordance with this Privacy Policy in order to contact the User.

<h3>Newsletter</h3>
Requires you to enter your name and email address in the appropriate place. These fields are mandatory. Then the User, in order to add his e-mail address to the Administrator's subscribers database, must confirm his willingness to subscribe. The data obtained in this way is added to the mailing list in order to send the newsletter.

By subscribing to the newsletter, the User also consents to the Administrator's using the User's telecommunications terminal equipment (e.g. telephone, tablet, computer) for direct marketing of the Administrator's products and services and for presenting commercial information to the User.

The above consents are voluntary, but necessary for sending the newsletter, including to inform about services, new blog entries, products, promotions and discounts offered by the Administrator or products of third parties recommended by him. Consents may be withdrawn at any time, which will result in the cessation of sending the newsletter in accordance with the principles contained in this privacy policy.

The newsletter is sent for an indefinite period, from the moment of activation until the consent is withdrawn. After the withdrawal of consent, the User's data may be stored in the newsletter database for up to 3 years in order to demonstrate the fact that the User has given consent to communication through the newsletter, the User's actions (openness of e-mails) and the time of its withdrawal, as well as any related claims, which is the legitimate interest of the Administrator.

The sending of the newsletter may be stopped if the User fails to display activity for a minimum of 1 year from the commencement of the newsletter service or reading the last e-mail (sent newsletter). In this case, the Administrator will delete the User's data from the system for sending the newsletter (supplier). The User will not be entitled to receive any message from the Administrator, unless he decides to re-subscribe to the Newsletter subscription form or contact the Administrator in another way selected for this purpose.

The mailing system used to send the newsletter records all activity and actions taken by the User related to emails sent to him (date and time of opening the message, clicking on the links, the moment of unsubscribing, etc.).

<h3>How long we retain your data</h3>
If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.

For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.

<h3>The data is stored by the time:</h3>

the websiste exists and the service is provided,
you withdraw your consent to store data; however due to legal requirements that information will be stored for protection,
for a maximum period of 3 years in the case of people who have unsubscribed from the newsletter in order to defend against any claims (e.g. information on the date of subscription and the date of unsubscribing from the newsletter, the number of newsletters received, actions taken and activities related to the messages received), or after a period of 1 year of no activity by the subscriber, e.g. not opening any message from the Administrator.
it is required by law (including tax law).
<h3>What rights you have over your data</h3>
If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.

<h3>Who we share your data with and where we send your data</h3>
We inform that The Neat Need uses the services of external entities. Entities entrusted with the processing of personal data (such as courier companies, intermediaries in electronic payments, companies offering accounting services, companies enabling the sending of newsletters) guarantee the use of appropriate measures for the protection and security of personal data required by law, in particular by the GDPR.

<li>UAB “MailerLite”, Paupio p. 46, Vilnius, Republic of Lithuania – for sending the newsletter and using the mailing system</li>
<li>LH.PL SP. Z O.O., ul. Pamiątkowa 2/56, 61-512 Poznań – for domain service, mail server and storage of personal data on the server,</li>
<li>Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland – to use Google services, including e-mail,</li>
<li>other contractors or subcontractors involved in technical and administrative support, or to provide legal assistance to the Administrator and his clients, e.g. accounting, IT, graphic, copywriting assistance, debt collection companies, lawyers, etc.</li>
<li>offices, e.g. the tax office – to meet legal and tax obligations related to settlements and accounting.</li>

<p>Visitor comments may be checked through an automated spam detection service.</p>

<p>User data may be transferred outside the European Union – to third countries.</p>
<p>
As Administrator uses external service providers such as Facebook and its subsidiaries, Google, Microsoft, etc., your data may be transferred to the United States of America (USA) in connection with its storage on American servers (in whole or in part). Google and Facebook apply the compliance mechanisms provided by the GDPR (e.g. certificates) or standard contractual clauses to their services. They will only be provided to recipients who guarantee the highest level of data protection and security, among others through cooperation with entities processing personal data in countries where a relevant European Commission decision has been issued, the use of standard contractual clauses issued by the European Commission (as is the case with Google for example), application of binding corporate rules approved by the competent supervisory authority, or to those who have consented to the transfer of personal data.
</p>
Detailed information is available in the privacy policy of each provider of these services, available on their websites.

<li>Google LLC: https://policies.google.com/privacy?hl=en </li>
<li>Facebook Ireland Ltd.: https://www.facebook.com/privacy/explanation </li>
<li>UAB MailerLite: https://www.mailerlite.com/legal/privacy-policy </li>
<li>HeatMap: https://heatmap.com/privacy </li>

<p>
Currently, services offered by Google and Facebook are mainly provided by entities located in the European Union. You should, however, always check the privacy policies of these providers in order to receive up-to-date information on data protection. MailerLite may store some of your data in the United States or use service providers from that country, but your data is mainly processed in the European Union.
</p>

<h2>5. Cookie policy</h2>
<p>
The Neat Need does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser.
</p>

<p>
This Cookie Policy explains what cookies are and how we use them. You should read this policy to understand what cookies are, how we use them, the types of cookies we use i.e, the information we collect using cookies and how that information is used and how to control the cookie preferences.
</p>

<p>
You can at any time change or withdraw your consent from the Cookie Declaration on this website. Your consent applies to the following domain: paudiaz.com
</p>

<h3>What are cookies ?</h3>
Cookies are small text files that are used to store small pieces of information. The cookies are stored on your device when the website is loaded on your browser. These cookies help us make the website function properly, make the website more secure, provide better user experience, and understand how the website performs and to analyze what works and where it needs improvement.

<h3>How do we use cookies ?</h3>
As most of the online services, our website uses cookies first-party and third-party cookies for a number of purposes. The first-party cookies are mostly necessary for the website to function the right way, and they do not collect any of your personally identifiable data.

The third-party cookies used on our websites are used mainly for understanding how the website performs, how you interact with our website, keeping our services secure, providing advertisements that are relevant to you, and all in all providing you with a better and improved user experience and help speed up your future interactions with our website.

<h3>What types of cookies do we use ?</h3>

Essential: Some cookies are essential for you to be able to experience the full functionality of our site. They allow us to maintain user sessions and prevent any security threats. They do not collect or store any personal information. For example, these cookies allow you to log-in to your account and add products to your basket and checkout securely.
<br><br>
Statistics/Analytics: These cookies store information like the number of visitors to the website, the number of unique visitors, which pages of the website have been visited, the source of the visit etc. These data help us understand and analyze how well the website performs and where it needs improvement. You can access Google Analytics Privacy policy here: https://support.google.com/analytics/answer/6004245?hl=en
<br><br>
Marketing: Our website displays advertisements. These cookies are used to personalize the advertisements that we show to you so that they are meaningful to you. These cookies also help us keep track of the efficiency of these ad campaigns. The information stored in these cookies may also be used by the third-party ad providers to show you ads on other websites on the browser as well.
<br><br>
The Administrator's Website may contain affiliate links to specific products or services of third parties. This is a way of monetizing the content on the Website, and made available in principle free of charge. Clicking on the link will not cause any fees on the User's side. If you go to the website of an external entity by clicking the affiliate link and buy the product, I may be awarded a commission. By using the Website, you agree to the use of cookies in this regard.
<br><br>
Functional: These are the cookies that help certain non-essential functionalities on our website. These functionalities include embedding content like videos or sharing contents on the website on social media platforms. Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
<br><br>
These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.
<br><br>
Preferences: These cookies help us store your settings and browsing preferences like language preferences so that you have a better and efficient experience on future visits to the website.
<br><br>
Web push notifications
For better communication with the User and faster transmission of valuable content or offers to him, the Administrator facilitates consent to receive web push notifications from the User's browser level.
<br><br>
To agree to receive web push notifications, the User should mark the option “display notifications” or other synonymous on the message sent by his web browser (each browser may name this option differently).
<br><br>
Consent to receive the above notifications can be withdrawn at any time by changing the User's web browser settings. The Administrator does not process any personal data of Users using web push notifications. Users are identified only on the basis of information that is stored by their web browsers to which the Administrator has no access.
<br><br>
Comments
If you leave a comment on this website you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
<br><br>
If you visit login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
<br><br>
When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.

<h3>How can I control the cookie preferences ?</h3>
Should you decide to change your preferences later through your browsing session, you can click on the „Privacy Settings” in the footer of this website. This will enable you to change your preferences or withdraw your consent entirely.
<br>
In addition to this, different browsers provide different methods to block and delete cookies used by websites. You can change the settings of your browser to block/delete the cookies.
</p>
</div>