/*
color palette:
#F0EFE5 (alabaster)
#FFFFFF (white)
#120907 (smokey black)
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F0EFE5;
    color: #120907; 
    font-family: Arial, Helvetica, sans-serif
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
}

/*--- BUTTONS & LINKS ---*/

.btn {
    background-color: #120907;
    color: white; 
    border-color: transparent;
    padding: 0.5rem 0.5rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-transform: none;
    margin: 0.5rem 0.5rem;
    border-radius: 20px
}

.btn:hover {
    background-color: white;
    color: #120907; 
    border-color: #120907;
}

/*--- NAVBAR ---*/

.navbar-custom .navbar-nav .nav-link {
    background-color: #F0EFE5;
    color: #404245; 
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #F0EFE5 !important;
    text-decoration: underline;
}

.navbar-toggler {
    color:#404245;
}

.nav-link {
    color:#120907
}

.nav-link:hover {
    color: white
}

/*--- Pictures ---*/
.photo {
    border-radius: 20px;
    opacity: 0.7;
}

/*--- OTHER CSS - TBC FOR USE ---*/
.navbtn{
    background-color: #638EA3;
    border-color: transparent;
    padding: 0.4rem 0.4rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    margin: 0 0.4rem;
    border-radius: 20px
}
.outbtn:hover{
    text-decoration: underline;
}

.actionlink{
    text-decoration: none;
    color: #F0F1EF;
}

.actionlink:hover{
    text-decoration: none;
    color: #F0F1EF;
}