/*
color palette:
#F0EFE5 (alabaster)
#FFFFFF (white)
#120907 (smokey black)
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F0EFE5;
    color: #120907; 
    font-family: Arial, Helvetica, sans-serif
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
}

/*--- BUTTONS & LINKS ---*/

.btn {
    background-color: #120907;
    color: white; 
    border-color: transparent;
    padding: 0.5rem 0.5rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-transform: none;
    margin: 0.5rem 0.5rem;
    border-radius: 20px
}

.btn:hover {
    background-color: white;
    color: #120907; 
    border-color: #120907;
}

.btn-admin {
    background-color: blue;
    color: white; 
    border-color: transparent;
    padding: 0.5rem 0.5rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-transform: none;
    margin: 0.5rem 0.5rem;
    border-radius: 20px;
    text-decoration: none;
}

.btn-admin:hover {
    background-color: white;
    color: blue; 
    border-color: blue;
}

/*--- NAVBAR ---*/

.navbar-custom .navbar-nav .nav-link {
    background-color: #F0EFE5;
    color: #120907; 
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav  {
    color: #F0EFE5 !important;
    background-color: #120907 !important;
}
.nav-link.active {
    color: #D65472 !important;
}

/*--- Pictures ---*/
.photo {
    border-radius: 20px;
    opacity: 0.7;
}

/*--- Other ---*/

.center {
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.hidden {
    display: none;
}