<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row">
    <div class="col">
    LIST
    </div>

    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
    
  </div>
</div>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<!--- Admin access only --->
<% if current_user.admin? %>  
  <%= link_to "New product", new_product_path %>
<% end %>